## Data Preprocessing

### Recode/Replace

In [3]:
import pandas as pd
data_news = pd.read_csv('C:/Users/Dewi Napitupulu/Downloads/Data_Set/BBC News Train.csv')
print(data_news.fillna(0).iloc[0:10, 0:5])

   ArticleId                                               Text       Category
0       1833  worldcom ex-boss launches defence lawyers defe...       business
1        154  german business confidence slides german busin...       business
2       1101  bbc poll indicates economic gloom citizens in ...       business
3       1976  lifestyle  governs mobile choice  faster  bett...           tech
4        917  enron bosses in $168m payout eighteen former e...       business
5       1582  howard  truanted to play snooker  conservative...       politics
6        651  wales silent on grand slam talk rhys williams ...          sport
7       1797  french honour for director parker british film...  entertainment
8       2034  car giant hit by mercedes slump a slump in pro...       business
9       1866  fockers fuel festive film chart comedy meet th...  entertainment

###  Fill Forward

In [2]:
print(data_news.fillna(method='ffill').iloc[0:10, 0:5])

   ArticleId                                               Text       Category
0       1833  worldcom ex-boss launches defence lawyers defe...       business
1        154  german business confidence slides german busin...       business
2       1101  bbc poll indicates economic gloom citizens in ...       business
3       1976  lifestyle  governs mobile choice  faster  bett...           tech
4        917  enron bosses in $168m payout eighteen former e...       business
5       1582  howard  truanted to play snooker  conservative...       politics
6        651  wales silent on grand slam talk rhys williams ...          sport
7       1797  french honour for director parker british film...  entertainment
8       2034  car giant hit by mercedes slump a slump in pro...       business
9       1866  fockers fuel festive film chart comedy meet th...  entertainment

### Fill Backward

In [5]:
print(data_news.fillna(method='bfill').iloc[:,0:5].tail())

      ArticleId                                               Text  \
1485        857  double eviction from big brother model caprice...
1486        325  dj double act revamp chart show dj duo jk and ...
1487       1590  weak dollar hits reuters revenues at media gro...
1488       1587  apple ipod family expands market apple has exp...
1489        538  santy worm makes unwelcome visit thousands of ...

           Category
1485  entertainment
1486  entertainment
1487       business
1488           tech
1489           tech

###  Interpolate

In [6]:
print(data_news.interpolate().iloc[0:10,0:5])

   ArticleId                                               Text       Category
0       1833  worldcom ex-boss launches defence lawyers defe...       business
1        154  german business confidence slides german busin...       business
2       1101  bbc poll indicates economic gloom citizens in ...       business
3       1976  lifestyle  governs mobile choice  faster  bett...           tech
4        917  enron bosses in $168m payout eighteen former e...       business
5       1582  howard  truanted to play snooker  conservative...       politics
6        651  wales silent on grand slam talk rhys williams ...          sport
7       1797  french honour for director parker british film...  entertainment
8       2034  car giant hit by mercedes slump a slump in pro...       business
9       1866  fockers fuel festive film chart comedy meet th...  entertainment

### Drop Missing Values

In [7]:
print(data_news.shape)

(1490, 3)

In [8]:
data_news_dropna = data_news.dropna()
print(data_news_dropna.shape)

(1490, 3)

In [9]:
print(data_news_dropna)

      ArticleId                                               Text  \
0          1833  worldcom ex-boss launches defence lawyers defe...
1           154  german business confidence slides german busin...
2          1101  bbc poll indicates economic gloom citizens in ...
3          1976  lifestyle  governs mobile choice  faster  bett...
4           917  enron bosses in $168m payout eighteen former e...
...         ...                                                ...
1485        857  double eviction from big brother model caprice...
1486        325  dj double act revamp chart show dj duo jk and ...
1487       1590  weak dollar hits reuters revenues at media gro...
1488       1587  apple ipod family expands market apple has exp...
1489        538  santy worm makes unwelcome visit thousands of ...

           Category
0          business
1          business
2          business
3              tech
4          business
...             ...
1485  entertainment
1486  entertainment
1487       business
1488           tech
1489           tech

[1490 rows x 3 columns]